################################################
# Craft general settings
################################################
SECURITY_KEY=""
ENVIRONMENT="local"

ALLOW_UPDATES=1
ALLOW_ADMIN_CHANGES=1
BACKUP_ON_UPDATE=0
DEV_MODE=1
ENABLE_TEMPLATE_CACHING=0
IS_SYSTEM_LIVE=1
MAX_REVISIONS=10
RUN_QUEUE_AUTOMATICALLY=1
TEST_TO_EMAIL_ADDRESS=""

################################################
# Craft database settings
################################################
DB_DRIVER="mysql"
DB_SERVER="localhost"
DB_USER="REPLACE_ME"
DB_PASSWORD="REPLACE_ME"
DB_DATABASE="REPLACE_ME"
DB_SCHEMA="public"
DB_TABLE_PREFIX="craft_"
DB_PORT="3306"

################################################
# Site Settings
################################################
# Site Url - the url that is used to access the site on the environmental platform
DEFAULT_SITE_URL="REPLACE_ME"

# The base path of the cms uploads folder - this is used in @aliases in the general config.
ASSETS_PATH="/uploads"

################################################
# Email Settings
################################################

# The from name and address used when sening emaisl via the system. Likely to be different per environment.
EMAIL_FROM_ADDRESS="REPLACE_ME"
EMAIL_FROM_NAME="REPLACE_ME"

EMAIL_PORT = "465"
EMAIL_HOST_NAME="REPLACE_ME"
EMAIL_HOST_USERNAME="REPLACE_ME"
EMAIL_HOST_PASSWORD="REPLACE_ME"

################################################
# Licences
################################################
PLUGIN_SEOMATIC_LICENSE="REPLACE_ME"

################################################
# Plugin Settings
################################################
SEOMATIC_ENVIROMENT="REPLACE_ME"


################################################
# Google and API Settings
################################################
GA_TRACKING_ID="REPLACE_ME"
GOOGLE_MAPS_KEY="REPLACE_ME"
