/* ==========================================================================
    ANIMATION ACCESSIBILITY STYLES
========================================================================== */
@media screen and (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
  }
}


//////BESPOKE ANIMATION STYLES
//@import 'animations/_bespoke';

/* ==========================================================================
    ANIMATION STYLES
    https://animista.net/
========================================================================== */

///////////BOUNCE
//@import 'animations/_bounce-in-bottom';

///////////FADE
//@import 'animations/_fade-in-bottom';
//@import 'animations/_fade-in-top';

///////////SLIDES
//@import 'animations/_slide-in-top';
//@import 'animations/_slide-in-bottom';
//@import 'animations/_slide-in-left';
//@import 'animations/_slide-in-blurred-left';
//@import 'animations/_slide-in-elliptic-left-fwd';

///////////SWIRLS
//@import 'animations/_swirl-in-bck';
//@import 'animations/_swirl-in-fwd';

///////////FLOATS
//@import 'animations/_float-down';

//////////SPECIAL
//@import 'animations/_scale-in-top';
//@import 'animations/_flicker-in';


//////////TEXT
//@import 'animations/_text-focus-in-expand';


