<header role="banner" class="border-b brand-grey-lighter">
  <div class="flex justify-between">
    <div class="flex-1">
      <img src="/assets/img/logo.svg" alt={{ siteName }} Logo"" style="max-width:220px;">
    </div>
    <div :class="{ 'block': navOpen, 'hidden lg:block': !navOpen }" v-cloak>
      {% include '_includes/_globals/nav.twig' %}
    </div>
  </div>
</header>

{# ---------------------------------------------------------------------- #}
{# COMMON ELEMENTS THAT MIGHT BE USED #}
{# ---------------------------------------------------------------------- #}

{# {% include "_includes/global/nav" %} #}

{# Hamburger Icon #}
{# <div class='ml-auto lg:hidden pr-4'>
  <button class="hamburger hamburger--elastic // js-nav-toggle relative z-90" type="button">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>
</div> #}


