<div class="ie-notice">
  <div class="fixed z-90 inset-x-0 bottom-0 bg-gray-800 text-white p-6 pb-3">
    <div class="container // flex flex-wrap justify-between items-center">
      <div>
        <p class="mb-0 text-xl font-semibold">
          Your web browser is out of date.
        </p>
        <p class="mb-3">
          <a href="http://outdatedbrowser.com" class="underline text-white hover:text-green-500">Update your browser</a>
          for better security, speed and to get the best experience on this website.
        </p>
      </div>
      <a
        href="http://outdatedbrowser.com"
        class="transition duration-500 ease-in-out transform hover:scale-110 hover:bg-green-600 mb-3 bg-green-500 text-white  p-3 shadow-md border border-green-400"
      >
        Update your browser
      </a>
    </div>
  </div>
</div>