{# @var craft \craft\web\twig\variables\CraftVariable #}
<div class="hidden lg:block w-full">
  <nav id="nav" role="navigation">
    <ul class="list-reset">
      <li>
        <a href="{{ siteurl }}">Home</a>
      </li>
      <li>
        <a href=""></a>
      </li>
    </ul>
  </nav>
</div>