{# @var craft \craft\web\twig\variables\CraftVariable #}
{%- minify -%}
  {% include '_includes/_globals/head' %}
  
  <body>
  {% include '_includes/_globals/header' %}
  {% block content %}
    <div class="mx-auto max-w-4xl px-6">
      <p>If you see me, you haven’t set your <code>{% verbatim %}{% block main %}…{% endblock %}{% endverbatim %}</code> yet.</p>
      <p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
      <p>terry</p>
    </div>
  {% endblock %}
  {% include '_includes/_globals/footer' %}
  {% include '_includes/_globals/scripts' %}
  </body>
  </html>
{%- endminify -%}