/* ==========================================================================
  BLOCKQUOTE
========================================================================== */

blockquote {
  //quotes: '"' '"' "'" "'";
  //
  //&::before {content: open-quote;}
  //
  //&::after {content: close-quote;}
  
  p {
    quotes: '"' '"' "'" "'";
    
    &::before {content: open-quote;}
    
    &::after {content: close-quote;}
    
  }
  
  cite {
    @apply .block;
    
    &::before {
      content: '\2014 \0020';
    }
  }
}


.tweet,
.no-quotes {
  quotes: '';
  
  &::before,
  &::after {content: '';}
  
  p {
    quotes: '';
    
    &::before,
    &::after {content: '';}
    
  }
}
