/* ==========================================================================
   TRIANGLES
   https://css-tricks.com/snippets/css/css-triangle/
========================================================================== */

.arrow-up {
  width: 0;
  height: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-bottom: 25px solid currentColor;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-top: 25px solid currentColor;
}