{%- minify -%}
  <!DOCTYPE html>
  <html lang="en-US">
  <head>
    <link rel="dns-prefetch" href="{{ siteUrl }}">
    <link rel="preconnect" href="{{ siteUrl }}" crossorigin>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>Welcome to Craft CMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/4.1.5/lazysizes.min.js"></script>
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/4.1.5/plugins/blur-up/ls.blur-up.min.js"></script>#}
    <style>
      .lazyload {
        opacity: 0;
      }
      
      .lazyloading {
        opacity: 0.25;
      }
      
      .lazyloaded {
        transition: opacity 400ms ease-in;
      }
      
      
      /*img[data-sizes="auto"] { display: block; width: 100%; }*/
      /*source[data-sizes="auto"] { display: block; width: 100%; }*/
    </style>
    
    <script>
        window.onload = function () {
            const picture = document.getElementById('pictureEl');
            const currentSource = document.getElementById('currentSource');
            currentSource.innerText = picture.getElementsByTagName('img')[0].currentSrc;
        };
    </script>
  
  </head>
  <body class="ltr">
  <!--[if lt IE 11]>
  <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://whatbrowser.org/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  
  <div class="max-w-4xl bg-white p-12">
    {% for image in entry.image %}
      {% include '_includes/components/image' with { asset:image, transform: 'portrait'  } %}
    {% endfor %}
  </div>
  {# {% include "_includes/components/social-share.twig" %} #}
  {% include "_includes/components/social-share.twig" %}
  
  <div class="bg-grey-lighter">
  </div>
  </body>
  </html>
{%- endminify -%}
